
/*paleta de colores*/
/*Footer: #9A7F8F*/

/*Barra navegación*/
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}
/*Dropdown*/
.dropdown-menu {
    background-color: #212529;
    border: none;
}

.dropdown-item {
    color: white;
}

.navbar-nav .nav-link:hover {
  color: #9A7F8F;
}

.dropdown-item:hover {
  background-color: transparent;
  color: #9A7F8F;
}

.dropdown-divider {
  border-color: rgba(255,255,255,0.2);
}

.img-producto {
    height: 13.75rem; 
    object-fit: cover;
}

/*Index*/
.bg-pink-index {
    background-image: url(/assets/fondos/bg_main_index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.descuento-index {
    width: 100%;
    height: 60vh;
    background-color: #9A7F8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descuento-index h2:hover {
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.bg-pink-pages {
    background-image: url(/assets/fondos/bg_main_pages.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Footer*/
.bg-footer {
    background-color: #9A7F8F;
}
